footer {
    margin: 40px 0 0 0;
    padding: 40px;
    color: #9b9b9b;
    background: #474645;
    ul.pc-footerNavi {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 24px 0;
        li {
            text-align: center;
            margin: 0 12px 24px;
            a {
                font-size: 14px;
                color: #fff;
                letter-spacing: 0;
            }
        }
    }
    .copyright {
        text-align: center;
        font-size: 10px;
        letter-spacing: 0.5px;
        span {
            margin: 0 4px;
        }
    }
    
    @media screen and (min-width:768px) {
        ul.pc-footerNavi {
            flex-direction: row;
            justify-content: center;
            li {
                padding: 0 32px;
                border-right: 1px solid #fff;
                margin: 0;
                &:first-child {
                    padding: 0 32px 0 0;
                }
                &:last-child {
                    padding: 0 0 0 32px;
                    border-right: none;
                }
            }
        }
    }
    @media screen and (min-width:1024px) {
        margin: 80px 0 0 0;
        padding: 44px 0;
        ul.pc-footerNavi {
            margin: 0 0 48px 0;
        }
    }
    @media screen and (min-width:1366px) {
        
    }
}
