@charset "UTF-8";
#nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}

#nav .innerNav {
  padding: 80px 0;
}

#nav .innerNav .topNavLink {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0 20px 20px;
  border-bottom: 1px solid #E6D5D9;
}

#nav .innerNav .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 10px;
  border-bottom: 1px solid #E6D5D9;
}

#nav .innerNav .navLink li {
  width: 50%;
  margin: 0 0 10px 0;
}

#nav .innerNav .navLink li a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

#nav .innerNav .navLink li a img {
  width: auto;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 12px 0 0;
  position: relative;
  top: 4px;
}

#nav .innerNav .pcFlex {
  padding: 20px 20px 10px;
  border-bottom: 1px solid #E6D5D9;
}

#nav .innerNav .pcFlex .tagLinkWrapper h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

#nav .innerNav .pcFlex .tagLinkWrapper .tagLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#nav .innerNav .pcFlex .tagLinkWrapper .tagLink li {
  width: 32%;
  margin: 0 0 8px 0;
  padding: 8px 12px 10px;
  border: 1px solid #E6D5D9;
  border-radius: 4px;
}

#nav .innerNav .pcFlex .tagLinkWrapper .tagLink li a {
  font-size: 13px;
  font-weight: 500;
}

#nav .innerNav .pcFlex .pcAnotherLink {
  display: none;
}

#nav .innerNav .snsLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 20px;
}

#nav .innerNav .snsLink li {
  width: 36px;
  height: 36px;
  margin: 0 14px;
}

#nav .innerNav .snsLink li img {
  width: 100%;
  height: 100%;
}

#nav .innerNav .spAnotherLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px 20px 16px;
  background: #F8F4F5;
}

#nav .innerNav .spAnotherLink li {
  width: 50%;
  margin: 0 0 16px 0;
}

#nav .innerNav .spAnotherLink li a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  #nav .innerNav {
    width: 640px;
    margin: 0 auto;
    padding: 80px 0;
  }
  #nav .innerNav .topNavLink {
    font-size: 14px;
    margin: 0 0 20px 0;
    padding: 0 0 20px;
  }
  #nav .innerNav .navLink {
    padding: 0 0 20px;
  }
  #nav .innerNav .navLink li {
    width: 32%;
  }
  #nav .innerNav .pcFlex {
    padding: 0 0 10px;
  }
  #nav .innerNav .pcFlex h4 {
    padding: 20px 0 0;
  }
  #nav .innerNav .snsLink {
    padding: 24px 0;
  }
  #nav .innerNav .snsLink li {
    width: 36px;
    height: 36px;
    margin: 0 14px;
  }
  #nav .innerNav .snsLink li img {
    width: 100%;
    height: 100%;
  }
  #nav .innerNav .spAnotherLink {
    padding: 32px 64px 16px;
  }
  #nav .innerNav .spAnotherLink li {
    margin: 0 0 16px 0;
  }
}

@media screen and (min-width: 1024px) {
  #nav .innerNav {
    width: 880px;
    padding: 100px 0;
  }
  #nav .innerNav .topNavLink {
    font-size: 24px;
    margin: 0 0 32px 0;
    padding: 0 0 32px;
    border-bottom: 2px solid #E6D5D9;
  }
  #nav .innerNav .navLink {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 0 0 30px;
    border-bottom: 2px solid #E6D5D9;
  }
  #nav .innerNav .navLink li {
    width: 28%;
    margin: 0 0 20px 0;
  }
  #nav .innerNav .navLink li a {
    font-size: 18px;
  }
  #nav .innerNav .navLink li a img {
    height: 32px;
    margin: 0 28px 0 0;
    top: 4px;
  }
  #nav .innerNav .pcFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-bottom: 2px solid #E6D5D9;
  }
  #nav .innerNav .pcFlex .tagLinkWrapper {
    width: 60%;
    padding: 40px 0 24px;
  }
  #nav .innerNav .pcFlex .tagLinkWrapper h4 {
    font-size: 18px;
    margin: 0 0 22px 0;
    padding: 0;
  }
  #nav .innerNav .pcFlex .tagLinkWrapper .tagLink {
    margin: 0 64px 0 0;
  }
  #nav .innerNav .pcFlex .tagLinkWrapper .tagLink li {
    width: 49%;
    margin: 0 0 8px 0;
    padding: 18px 22px 20px;
  }
  #nav .innerNav .pcFlex .tagLinkWrapper .tagLink li a {
    font-size: 16px;
  }
  #nav .innerNav .pcFlex .pcAnotherLink {
    display: block;
    width: 40%;
    padding: 52px 48px 32px;
    background: #F8F4F5;
  }
  #nav .innerNav .pcFlex .pcAnotherLink li {
    margin: 0 0 32px 0;
  }
  #nav .innerNav .pcFlex .pcAnotherLink li a {
    font-size: 16px;
    font-weight: 500;
  }
  #nav .innerNav .snsLink {
    padding: 64px 0;
  }
  #nav .innerNav .snsLink li {
    width: 50px;
    height: 50px;
    margin: 0 32px;
  }
  #nav .innerNav .spAnotherLink {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  #nav .innerNav {
    width: 960px;
  }
}

#hamburger {
  display: block;
  position: relative;
  width: 24px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1002;
  margin: 0 0 0 24px;
}

#hamburger .innerHamburger::after {
  content: "メニュー";
  position: absolute;
  left: -7px;
  bottom: 0;
  font-size: 10px;
  width: 48px;
}

.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

#line1 {
  top: 0;
}

#line2 {
  top: 6.4px;
}

#line3 {
  bottom: 17px;
}

.in {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.line_1, .line_2, .line_3 {
  position: relative;
  background: #000000;
}

.line_1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px !important;
}

.line_2 {
  opacity: 0;
}

.line_3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -4px !important;
}
/*# sourceMappingURL=hamburger.css.map */