.hero {
    height: 220px;
    background: #eee;
    width: calc(100% - 40px);
    margin:84px auto 24px;
    @media screen and (min-width:768px) {
        width: 640px;
    }
    @media screen and (min-width:1024px) {
        width: 880px;
        height: 280px;
        margin: 84px auto 48px;
    }
    @media screen and (min-width:1120px) {
        width: 960px;
    }
}