@charset "UTF-8";
.wrap {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

.wrap::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.wrap .article_box {
  color: #636161;
  margin: 0 0 24px 0;
  padding: 0 0 24px 0;
  border-bottom: 1px solid #EBEBEB;
}

.wrap .article_box .pc_thumbnail {
  display: none;
}

.wrap .article_box .textWrapper h2 {
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
  margin: 0 0 12px 0;
}

.wrap .article_box .textWrapper h1 {
  text-align: justify;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
  color: #333;
  margin: 0 0 12px 0;
}

.wrap .article_box .textWrapper .sp_term {
  text-align: justify;
  font-size: 10px;
  line-height: 1.8;
  color: #776655;
  margin: 0 0 20px 0;
}

.wrap .article_box .textWrapper .article_sentence {
  text-align: justify;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  margin: 0 0 14px 0;
  position: relative;
}

.wrap .article_box .textWrapper .article_sentence .tobecontinue {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  width: 100%;
  margin: 8px 0 0 0;
  padding: 4px 0 6px;
  border-radius: 4px;
  background: #333;
}

.wrap .article_box .textWrapper .article_sentence .tobecontinue i {
  margin: 0 0 0 8px;
  color: #fff;
}

.wrap .article_box .textWrapper .sp_thumbnail {
  display: block;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0 14px 0;
  border-radius: 8px;
}

.wrap .article_box .textWrapper .article_bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap .article_box .textWrapper .article_bottom ul li {
  font-size: 12px;
  list-style: none;
  color: #666;
}

.wrap .article_box .textWrapper .article_bottom ul li.article_area_name i {
  margin: 0 4px 0 0;
}

.wrap .article_box .textWrapper .article_bottom ul li.article_tag_name:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 4px 0 0;
  background: #ccc;
}

.wrap .article_box .textWrapper .article_bottom ul .remove {
  color: #FC7C87 !important;
}

.wrap .article_box .articleContents {
  margin: 20px 0 0 0;
}

.wrap .article_box .articleContents h2 {
  text-align: justify;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  color: #333 !important;
}

.wrap .article_box .articleContents h1 {
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 0 14px 0;
}

.wrap .article_box .articleContents time {
  display: block;
  text-align: justify;
  font-size: 12px;
  line-height: 1.8;
  margin: 0 0 14px 0;
}

.wrap .article_box .articleContents .articleSentence1,
.wrap .article_box .articleContents .articleSentence2 {
  text-align: justify;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 0 14px 0;
  position: relative;
}

.wrap .article_box .articleContents ins.adsbygoogle {
  margin: 24px auto;
}

@media screen and (min-width: 768px) {
  .wrap .article_box {
    margin: 0 0 28px 0;
    padding: 0 0 28px 0;
  }
  .wrap .article_box .inner_article_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap .article_box .pc_thumbnail {
    display: block;
    width: 44%;
  }
  .wrap .article_box .pc_thumbnail img {
    width: 100%;
    height: 210px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 12px 0;
    border-radius: 8px;
  }
  .wrap .article_box .textWrapper {
    width: 50%;
    position: relative;
    bottom: 6px;
  }
  .wrap .article_box .textWrapper .sp_thumbnail {
    display: none;
  }
  .wrap .article_box .textWrapper .sp_term {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .wrap .article_box {
    margin: 0 0 36px 0;
    padding: 0 0 36px 0;
  }
  .wrap .article_box .pc_thumbnail {
    width: 48%;
  }
  .wrap .article_box .pc_thumbnail img {
    height: 240px;
  }
  .wrap .article_box .textWrapper {
    width: 48%;
  }
  .wrap .article_box .textWrapper h2 {
    font-size: 18px;
    margin: 0 0 14px 0;
  }
  .wrap .article_box .textWrapper h1 {
    font-size: 14px;
    margin: 0 0 14px 0;
  }
  .wrap .article_box .textWrapper .article_sentence {
    margin: 0 0 16px 0;
    position: relative;
  }
  .wrap .article_box .textWrapper .article_sentence .tobecontinue {
    margin: 12px 0 0 0;
  }
}
/*# sourceMappingURL=infinite_scroll.css.map */