.wrap {
    overflow-y: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
            scrollbar-width: none;       /* Firefox 対応 */
    &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }

    .article_box {
        color: #000;
        width: calc(100% - 48px);
        margin: 0 auto 24px;
        padding: 0 0 24px 0;
        border-bottom: 1px solid #EBEBEB;
        .inner_article_box{
            .thumbnail {
                margin: 0 0 14px 0;
                position: relative;
                img {
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                    border-radius: 8px;
                }
                .newIcon {
                    width: 44px;
                    height: 44px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0;
                }
            }
            .textWrapper {
                h2 {
                    text-align: justify;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.3;
                    letter-spacing: -0.25px;
                    color: #000;
                    margin: 0 0 8px 0;
                }
                h1 {
                    text-align: justify;
                    font-size: 12px;
                    line-height: 1.4;
                    font-weight: 500;
                    letter-spacing: -0.25px;
                    color: #000;
                    margin: 0 0 8px 0;
                }
                .sp_term {
                    text-align: justify;
                    font-size: 10px;
                    line-height: 1.8;
                    color: #776655;
                    margin: 0 0 14px 0;
                }
                .article_sentence {
                    text-align: justify;
                    font-size: 12px;
                    line-height: 1.5;
                    color: #000;
                    margin: 0 0 14px 0;
                    position: relative;
                }
                .tobecontinue {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    width: 100%;
                    margin: 0 0 18px 0;
                    padding: 4px 0 6px;
                    border-radius: 4px;
                    background: #000;
                    i {
                        margin: 0 0 0 8px;
                        color: #fff;
                    }
                }
                .pc_tobecontinue {
                    display: none;
                }
            }
        }
        .sentenceView {
            text-align: justify;
            font-size: 14px;
            line-height: 1.7;
            color: #000;
            margin: 0 0 14px 0;
            .sentence_image {
                display: block;
                margin: 28px 0;
                padding: 10px;
                border: 1px solid #EBE2E5;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .sentenceView {
            margin: 16px auto 14px;
        }
        .article_middle {
            display: flex;
            justify-content: space-between;
            margin: 0 0 16px 0;
            .sns {
                i {
                    font-size: 24px;
                    margin: 0 14px 0 0;
                }
                .fa-facebook { color: #1877F2; }
                .fa-twitter { color: #1D9BF0; }
                .fa-line { color: #4CC764; }
            }
            ul {
                li {
                    color:#FC7C87 !important;
                    padding: 4px 24px;
                    background: #F5F3F3;
                    span {
                        font-size: 10px;
                        color: #666;
                        margin: 0 0 0 8px;
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
        }
        .article_bottom {
            margin: 0 0 14px 0;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    font-size: 12px;
                    list-style: none;
                    color: #666;
                }
                li.article_area_name {
                    i { margin: 0 4px 0 0; }
                }
                li.article_tag_name {
                    &:before {
                        content: "";
                        display: inline-block;
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                        margin: 0 6px 0 0;
                        background: #ccc;
                    }
                }
                li.gourmet {
                    &:before { background: #EE9E30; }
                }
                li.event {
                    &:before { background: #99BB05; }
                }
                li.news {
                    &:before { background: #25AEBE; }
                }
                li.article_area_name {
                    .fa-map-marker-alt {
                        color: #EA4335;
                    }
                }
                .left, .right {
                    display: flex;
                    justify-content: space-between;
                }
                .left {
                    .article_tag_name {
                        margin: 0 20px 0 0;
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
    }
    @media screen and (min-width:768px) {
        .article_box {
            width: 100%;
            margin: 0 auto 24px;
            padding: 0 0 24px 0;
            border-bottom: 1px solid #EBEBEB;
            .inner_article_box {
                display: flex;
                justify-content: space-between;
                .thumbnail {
                    display: block;
                    width: 44%;
                    height: 200px;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                    .newIcon {
                        width: 44px;
                        height: 44px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 0;
                    }
                }
                .textWrapper {
                    width: 52%;
                    h1 {
                        margin: 0 0 12px 0;
                    }
                    .sp_term {
                        display: none;
                    }
                    .article_sentence {
                        font-size: 10px;
                        line-height: 1.6;
                        margin: 0 0 8px 0;
                    }
                    .sp_sentenceView {
                        display: none;
                    }
                    .tobecontinue {
                        font-size: 10px;
                        margin: 0;
                        padding: 4px 0 6px;
                        border-radius: 4px;
                    }
                    .sp_tobecontinue {
                        display: none;
                    }
                    .pc_tobecontinue {
                        display: block;
                    }
                }
            }
            .sentenceView {
                display: block;
                text-align: justify;
                font-size: 14px;
                line-height: 1.7;
                color: #000;
                margin: 0 auto 14px;
                padding: 36px;
                .sentence_image {
                    display: block;
                    margin: 24px 0;
                    padding: 10px;
                    border: 1px solid #EBE2E5;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .article_middle {
                margin: 0 0 8px 0;
            }
            .article_bottom {
                ul {
                    li {
                        font-size: 10px;
                    }
                }
            }
            .article_middle2,
            .article_bottom2 {
                padding: 0 36px;
            }
            .article_bottom2 {
                .left {
                    margin: 0 20px 0 0;
                }
            }
        }
    }
    @media screen and (min-width:1120px) {
        .article_box {
            margin: 0 auto 32px;
            padding: 0 0 32px 0;
            .inner_article_box {
                .thumbnail {
                    width: 330px;
                    height: 210px;
                }
                .textWrapper {
                    width: 320px;
                    h2 {
                        font-size: 18px;
                        line-height: 1.4;
                        margin: 0 0 14px 0;
                    }
                    .article_sentence {
                        font-size: 10px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}