.present {
    margin: 100px auto 0;
    .presentContents {
        .headTitle {
            .presentIcon {
                height: 16px;
                position: relative;
            }
        }
        .presentItems {
            .presentItem {
                display: flex;
                flex-direction: column-reverse;
                margin: 0 0 20px 0;
                padding: 0 0 20px 0;
                border-bottom: 1px solid #EBEBEB;
                &:last-child {
                    margin: 0;
                    border-bottom: none;
                }
                .leftPresent {
                    display: block;
                    .presentImage {
                        width: 100%;
                        height: auto;
                        border-radius: 4px;
                    }
                }
                .rightPresent {
                    margin: 0 0 16px 0;
                    .title {
                        h3 {
                            text-align: justify;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            margin: 0 0 12px 0;
                        }
                        p {
                            text-align: justify;
                            font-size: 12px;
                            line-height: 1.7;   
                            margin: 0 0 8px 0;
                        }
                    }
                    .text {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        font-size: 12px;
                        line-height: 1.7;  
                        span {
                            display: block;
                            color: #BB7777;
                        }
                        .presentBtn {
                            letter-spacing: 0;
                            color: #fff;
                            padding: 8px 24px;
                            border-radius: 4px;
                            background: #BB7777;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:768px) {
        .presentContents {
            .presentItems {
                .presentItem {
                    flex-direction: row;
                    justify-content: space-between;
                    .leftPresent {
                        width: 34%;
                    }
                    .rightPresent {
                        width: 60%;
                        margin: 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width:1024px) {
        margin: 120px auto;
        .presentContents {
            .presentItems {
                .presentItem {
                    .rightPresent {
                        .title {
                            h3 {
                                margin: 0 0 14px 0;
                            }
                            p {
                                margin: 0 0 16px 0;
                            }
                        }
                        .text {
                            .presentBtn {
                                padding: 12px 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:1120px) {
        margin: 120px auto;
        .presentContents {
            .presentItems {
                .presentItem {
                    .leftPresent {
                        width: 220px;
                        height: 180px;
                        .presentImage {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .rightPresent {
                        width: 390px;
                    }
                }
            }
        }
    }
}