.wrap {
    overflow-y: scroll;
    .article_box {
        color: #636161;
        margin: 0 0 24px 0;
        padding: 0 0 24px 0;
        border-bottom: 1px solid #EBEBEB;
        .pc_thumbnail {
            display: none;
        }
        .textWrapper {
            h2 {
                text-align: justify;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: #333;
                margin: 0 0 12px 0;
            }
            h1 {
                text-align: justify;
                font-size: 12px;
                line-height: 1.4;
                font-weight: 500;
                color: #333;
                margin: 0 0 12px 0;
            }
            .sp_term {
                text-align: justify;
                font-size: 10px;
                line-height: 1.8;
                color: #776655;
                margin: 0 0 20px 0;
            }
            .article_sentence {
                text-align: justify;
                font-size: 13px;
                line-height: 1.5;
                color: #333;
                margin: 0 0 14px 0;
                position: relative;
                .tobecontinue {
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    width: 100%;
                    margin: 8px 0 0 0;
                    padding: 4px 0 6px;
                    border-radius: 4px;
                    background: #333;
                    i {
                        margin: 0 0 0 8px;
                        color: #fff;
                    }
                }
            }
            .sp_thumbnail {
                display: block;
                width: 100%;
                height: 170px;
                object-fit: cover;
                margin: 0 0 14px 0;
                border-radius: 8px;
            }
            .article_bottom {
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        font-size: 12px;
                        list-style: none;
                        color: #666;
                    }
                    li.article_area_name {
                        i {
                            margin: 0 4px 0 0;
                        }
                    }
                    li.article_tag_name {
                        &:before {
                            content: "";
                            display: inline-block;
                            border-radius: 50%;
                            width: 10px;
                            height: 10px;
                            margin: 0 4px 0 0;
                            background: #ccc;
                        }
                    }
                    .remove {
                        color:#FC7C87 !important;
                    }
                }
            }
        }

        // 詳細記事
        .articleContents {
            margin: 20px 0 0 0;
            h2 {
                text-align: justify;
                font-size: 18px !important;
                font-weight: 500 !important;
                line-height: 1.5 !important;
                color: #333 !important;
            }
            h1 {
                text-align: justify;
                font-size: 14px;
                line-height: 1.5;
                font-weight: 500;
                margin: 0 0 14px 0;
            }
            time {
                display: block;
                text-align: justify;
                font-size: 12px;
                line-height: 1.8;
                margin: 0 0 14px 0;
            }
            .articleSentence1,
            .articleSentence2 {
                text-align: justify;
                font-size: 13px;
                line-height: 1.5;
                margin: 0 0 14px 0;
                position: relative;
            }
            ins.adsbygoogle {
                margin: 24px auto;
            }
        }
    }
    @media screen and (min-width:768px) {
        .article_box {
            margin: 0 0 28px 0;
            padding: 0 0 28px 0;
            .inner_article_box {
                display: flex;
                justify-content: space-between;
            }
            .pc_thumbnail {
                display: block;
                width: 44%;
                img {
                    width: 100%;
                    height: 210px;
                    object-fit: cover;
                    margin: 0 0 12px 0;
                    border-radius: 8px;
                }
            }
            .textWrapper {
                width: 50%;
                position: relative;
                bottom: 6px;
                .sp_thumbnail {
                    display: none;
                }
                .sp_term {
                    display: none;
                }
            }
        }
    }
    @media screen and (min-width:1024px) {
        .article_box {
            margin: 0 0 36px 0;
            padding: 0 0 36px 0;
            .pc_thumbnail {
                width: 48%;
                img {
                    height: 240px;
                }
            }
            .textWrapper {
                width: 48%;
                h2 {
                    font-size: 18px;
                    margin: 0 0 14px 0;
                }
                h1 {
                    font-size: 14px;
                    margin: 0 0 14px 0;
                }
                .article_sentence {
                    margin: 0 0 16px 0;
                    position: relative;
                    .tobecontinue {
                        margin: 12px 0 0 0;
                    }
                }
            }
        }
    }
}