.search {
    margin: 104px auto 0;
    @media screen and (min-width:1120px) {
        margin: 120px auto 0;
    }
}
.searchForm {
    display: block;
    button {
        margin: 0;
        padding: 8px 0 8px 16px;
        border-top: 1px solid #8a8a8a;
        border-right: none;
        border-bottom: 1px solid #8a8a8a;
        border-left: 1px solid #8a8a8a;
        border-radius: 30px 0 0 30px;
        background: #fff;
        outline: none;
        img {
            width: 16px;
        }
    }
    .searchInput {
        margin: 0;
        padding: 8px 8px;
        width:80%;
        border-top: 1px solid #8a8a8a;
        border-right: 1px solid #8a8a8a;
        border-bottom: 1px solid #8a8a8a;
        border-left: none;
        border-radius: 0 30px 30px 0;
        background: #fff;
        outline: none;
        position: relative;
        right: 5px;
    }
    ::placeholder {
        color: #8a8a8a;
        font-size: 14px;
        position: relative;
        bottom: 2px;
    }
    @media screen and (min-width:768px) {
        .searchInput {
            width:200px;
        }
    }
}