@charset "utf-8";
/* font */
/* |- font-family: 'EB Garamond', serif; */
/* |- font-family: 'Noto Sans JP', sans-serif; */
/* |- font-family: 'Josefin Sans', sans-serif; */
/* |- font-family: 'Poppins', sans-serif; */


// 初期化
*, h1, h2, h3, h4, h5, h6, p, a { font-family: 'Noto Sans JP', sans-serif; margin: 0;padding: 0; box-sizing: border-box; }
a { text-decoration: none; letter-spacing: 1.5px; color: #454647; transition: .5s; &:hover { opacity: .7; } }
ul li { list-style: none; letter-spacing: 1.5px; }
img { vertical-align: bottom; }

.sp { display: block; }
.pc { display: none; }
@media screen and (min-width:768px) {
    .sp { display: none; }
    .pc { display: block; }
}

::placeholder {
    color: rgba(57,57,57,.5);
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.btn {
    display: block;
    text-align: center;
    font-size: 11px;
    color: #474645;
    width: 216px;
    margin: 0 auto;
    padding: 18px 0;
    border: 1px solid #474645;
    background: none;
    transition: .5s;
    &:hover {
        color: #fff;
        background: #474645;
    }
    @media screen and (min-width:1024px) {
        font-size: 14px;
        padding: 16px 0;
    }
}
.wp-block-image img {
    max-width: 100%;
    height: auto;
}

// 見出しタイトル
.headTitle {
    font-size: 14px;
    font-weight: 400;
    img {
        height: 10px;
        margin: 0 14px 0 0;
    }
    &::after {
        content: "";
        display: block;
        height: 4px;
        margin: 6px 0 20px;
        background-image: url(../img/common/underline.svg);
        background-repeat: repeat-x;
        background-size: contain;
    }
    @media screen and (min-width:1024px) {
        font-size: 16px;
        img {
            height: 12px;
            margin: 0 16px 0 0;
        }
        &::after {
            height: 4px;
            margin: 8px 0 24px;
        }
    }
}
.sideHeadTitle {
    padding: 0 20px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    img {
        height: 10px;
        margin: 0 14px 0 0;
        bottom: 5px;
        position: relative;
    }
    &::after {
        content: "";
        display: block;
        height: 4px;
        margin: 4px 0 20px;
        background-image: url(../img/common/underline.svg);
        background-repeat: repeat-x;
        background-size: contain;
    }
    @media screen and (min-width:768px) {
        padding: 0;
    }
    @media screen and (min-width:1024px) {
        font-size: 16px;
        img {
            height: 12px;
            margin: 0 16px 0 0;
        }
        &::after {
            height: 4px;
            margin: 4px 0 8px;
        }
    }
}

// 左サイドバー
.leftSidebar {
    position: sticky;
    height: 100vh;
    top: 80px;
    ul {
        margin: 0 0 32px 0;
        li {
            font-size: 12px;
            line-height: 1.6;
            margin: 0 0 32px 0;
            img {
                height: 16px;
                margin: 0 20px 0 0;
                position: relative;
                top: -2px;
                z-index: -1;
            }
            a {
                font-size: 14px;
            }
            .active {
                font-weight: bold;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .snsList {
        padding: 32px 0;
        border-top: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
    }
}

// セレクトボックス
.cp_ipselect {
    overflow: hidden;
    width: 100%;
    margin: 0 0 16px 0;
    text-align: center;
    select {
        width: 100%;
        cursor: pointer;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
}
.cp_sl01 {
    position: relative;
    border-radius: 2px;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    background: #ffffff;
    &::before {
        position: absolute;
        top: 22px;
        right: 24px;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #ccc;
        pointer-events: none;
    }
    select {
        font-size: 14px;
        padding: 16px 16px 16px 24px;
        color: #ccc;
    }
}

// レイアウト共通
body {
    overflow-x: hidden;
    color: #474645;
    // background: #fffcfc; // 現行サイトバック色
    background: #fff;
    .sp-tab-contents {
        display: block;
    }
    // mainタグ共通処理
    main {
        padding: 0 20px;
        height: 100vh;
        .leftSidebar,
        aside.sidebar {
            display: none;
        }
    }
    @media screen and (min-width:768px) {
        main {
            display: flex;
            justify-content: space-between;
            width: 640px;
            margin: 0 auto;
            padding: 0;
            article {
                width: 100%;
            }
        }
    }
    @media screen and (min-width:1024px) {
        .sp-tab-contents {
            display: none;
        }
        main {
            width: 880px;
            margin: 0 auto;
            article {
                width: 70%;
            }
            aside.sidebar {
                display: block;
                width: 24%;
                position: sticky;
                top: 120px;
                height: 100vh;
            }
        }
    }
    @media screen and (min-width:1120px) {
        main {
            width: 1024px;
            article {
                width: 680px;
            }
            aside.sidebar {
                width: 240px;
            }
        }
    }
}

// 以下WordPress専用スタイル
// currentクラスはactiveの場合自動で入る
.pagenation {
    text-align: center;
    .page-numbers {
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-family: 'EB Garamond', serif;
        color: rgba(70,70,70,.5);
        width: 40px;
        height: 40px;
        padding: 10px 0 0 0;
        border: 1px solid #EBEBEB;
        border-radius: 50%;
    }
    .current {
        color: #fff;
        border: 1px solid #25AEBE;
        background: #25AEBE;
    }
    .prevLink::before {
        content: "";
        display: inline-block;
        background-image: url("../img/common/prev.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: relative;
        right: 10px;
        top: 12px;
    }
    .nextLink::after {
        content: "";
        display: inline-block;
        background-image: url("../img/common/next.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: relative;
        left: 10px;
        top: 12px;
    }
    .screen-reader-text {
        display: none;
    }
    @media screen and (min-width:1024px) {
        .page-numbers {
            font-size: 20px;
            width: 48px;
            height: 48px;
            padding: 12px 0 0 0;
        }
        .prevLink::before {
            width: 36px;
            height: 36px;
            right: 40px;
        }
        .nextLink::after {
            width: 36px;
            height: 36px;
            left: 40px;
        }
    }
}

// categoryのactiveクラス
.current-cat {
    a {
        font-weight: bold;
    }
}
.cat-item {
    padding: 0 0 0 36px;
}

// Instaプラグイン用
// .instaWrapper {
//     width: calc(100% - 50px);
//     margin: 0 auto;
//     .sbi_photo_wrap {
//         margin: 8px;
//     }
// }

// いいねプラグイン用
// .like {
//     display: flex;
//     align-items: center;
//     .wpulike-heart .wp_ulike_general_class {
//         box-shadow: none !important;
//         border-radius: 0 !important;
//         margin:  0 24px 0 0 !important;
//         padding:  0 !important;
//     }
//     .wpulike-heart .count-box {
//         font-size: 16px !important;
//         color: #666 !important;
//         font-weight: 500 !important;
//         padding: 0 !important;
//     }
// }